* {
  box-sizing: border-box;
}

.card-images {
  display: flex;
  max-width: 45rem;
  flex-wrap: wrap;
  margin: 0 auto;

  img {
    border: solid transparent 3px;
    cursor: pointer;
    width: min(33%, 15rem);

    &:not(.wishlisted) {
      opacity: 0.3;
    }

    &:hover:not(.wishlisted) {
      opacity: 0.5;
    }

    .wishlisted {
      opacity: 1;
    }
  }
}
